.navbar{
    background-color: whitesmoke;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
}

@media(max-width:768px){
    .nav_dropdown_items{
        display: none;
    }
}